<% include ../layouts/header.ejs  %>
 <div class="page-data">
     <div class="data-btn" style="float:right;margin-bottom:5px">
        <button onClick="addUser();">+ Add Author</button>
     </div>
     <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>bio</th>
                    <th width="120px">Action</th>
                </tr>
                <% 
                if(data.length){ 
                 for(var i = 0;i < data.length;i++) { %>
                   <tr>
	                    <td><%=data[i].id%></td>
	                    <td><%=data[i].name%></td>
	                    <td><%=data[i].bio%></td>
	                    <td>
	                        <a class="a-inside edit" href="../authors/edit/<%=data[i].id%>">Edit</a>
	                        <a class="a-inside delete" href="../authors/delete/<%=data[i].id%>">Delete</a>
	                       
	                    </td>
                    </tr>
                 <%
                  }}else{
                 %>
                 <tr>
                    <td colspan="4">No data found</td>
                 </tr>
                 <%
                 }
                %>
           </table>
     </div>
 </div>
<% include ../layouts/footer.ejs  %>